body{
    background-color: #373737;
}

.container{
    background-color: white;
    width: 500px;
    height: 300px;
    margin: auto;
    border-radius: 20px;
}

h1{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.imagem{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
}

.imagem img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}