#resq4{
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#acertosErros{
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#teclaCerta{
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}
.contq4{
    width: 500px;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(40, 57, 95);
    color: white;
}