*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Roboto, Arial;
}

#ecommerceHeader{
    width: 2em;
    margin: auto;
    margin-top: 30px;
}