*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        135deg,
        #10454F,
        #506266
        );
}

.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    padding: 30px 40px;
}

#newtask{
    background-color: white;
    position: relative;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15 30 rgba(0,0,0,0.3);
}

#newtask input{
    width: 70%;
    width: 70%;
    height: 45px;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: 12px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 500;
    position: relative;
}

#newtask input:focus{
    outline: none;
    border-color: #10454F;
}

#newtask button{
    position: relative;
    font-family: 'Poppins',sans-serif;
    background-color: #10454F;
    color: white;
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 45px;
    float: right;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

#tasks{
    background-color: white;
    margin-top: 60px;
    padding: 30px 20px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.task{
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button{
    background-color: #10454F;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed{
    text-decoration: line-through;
}