*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 350px;
    height: 170px;
    border: 1px solid black;
    border-radius: 10px;
}


p{
    padding-top: 10px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
}

#adivinha{
    font-size: 1em;
    padding-top: 0;
    margin-bottom: 20px;
}

#inum{
    display: block;
    width: 200px;
    height: 20px;
    display: inline-block;
}

#btnverificar{
    width: 100px;
    height: 24px;
}

.inputs{
    width: fit-content;
    margin: auto;
}

#res{
    margin-top: 10px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}

