/* #a{
    width: 150px;
    height: 150px;
    background-color: rgb(219, 179, 103);
    margin-top: 20px;
}
#b{
    width: 150px;
    height: 150px;
    background-color: rgb(103, 219, 128);
    margin-top: 20px;
} */

/* #btn5{
    width: 100px;
    height: 50px;   
} */